* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: lavender;
    position: relative;
}

header {
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: 12em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 4%;
}

/* card styles */
.card {
    display: flex;
    align-items: center;;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 1em;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.avatar {
    border-radius: 50%;
    margin: auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
}

/* modal styles */
.overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal{
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 1.4em;
    top: 1em;
    height: 6%;
    width: 6%;
    cursor: pointer;
}

.hidden {
    display: none;
}